* {
    box-sizing: border-box;
}

body {
    background-color: #070524;
    height: 375px;
    width: 676px;
    overflow: hidden;
    margin: 0 auto;
}

.font {
    width: 375px;
    text-align: center;
    margin: 0 auto;

    h1 {
    color: white;
    font-size: 2.5rem;
    font-family: 'Bely Display',serif;
    }
}

.moving {
    margin: 0 auto;
    position: relative;
    bottom: -100px;
    right: 140px;
    width: 300px;
    height: auto;
    z-index: auto;
    animation-name: hands;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    .foreground {
        z-index: 2;
    }
    .background {
        z-index: -10;
        position: relative;
        top: -540px
    }
    .coupon {
        animation-name: coupon;
        animation-timing-function: ease-out;
        animation-duration: 4s;
        position: relative;
        left: 220px;
        top: -310px;
        width: 150px;
        height: 90px;
        display: flex;
        justify-content: center;
        padding: 10px 15px;
        flex-direction: column;
        background-color: white;
        z-index: -1;
        h1 {
            font-size: 12px;
            letter-spacing: .5px;
            margin-bottom: 5px;
            font-family: 'Bely Display',serif;
        }
        p {
            font-size: 8px;
            font-family:  'San Francisco',sans-serif;
        }
    }
}

@keyframes hands {
    from {
        bottom: -1500px
    }
    to {
        bottom: -100px
    }
}

@keyframes coupon {
    0% {
        opacity: 0;
        top: -150px
    }
    90% {
        opacity: 0;
        top: -230px
    }
    100% {
        opacity: 1;
        top: -310px
    }
}