* {
    box-sizing: border-box;
}

body {
    background-color: #070524;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.font {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 50px;

    h1 {
    color: white;
    font-size: 2.5rem;
    font-family: 'Bely Display',serif;
    }
}

.moving {
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    right: 100px;
    width: 100vw;
    height: 450px;
    z-index: auto;
    animation-name: hands;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    .foreground {
        z-index: 2;
    }
    .background {
        z-index: -10;
        position: relative;
        top: -540px
    }
    .coupon {
        animation-name: coupon;
        animation-timing-function: ease-out;
        animation-duration: 4s;
        transition: 0.5s ease;
        position: relative;
        left: 220px;
        top: -310px;
        width: 150px;
        height: 90px;
        display: flex;
        justify-content: center;
        padding: 10px 15px;
        flex-direction: column;
        background-color: white;
        z-index: -1;
        h1 {
            font-size: 12px;
            letter-spacing: .5px;
            margin-bottom: 5px;
            font-family: 'Bely Display',serif;
        }
        p {
            font-size: 8px;
            font-family:  'San Francisco',sans-serif;
        }

        .moretext {
            display: none;
        }
    }
}

.flower {
    width: 80%;
    height: auto;
    position: absolute;
    top: -120px;
    left: -140px;
    z-index: -200;
    animation-name: flower;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.flower2 {
    width: 80%;
    height: auto;
    position: absolute;
    bottom: -120px;
    right: -140px;
    z-index: -200;
    animation-name: flower;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes hands {
    from {
        bottom: -1500px
    }
    to {
        bottom: 0px
    }
}

@keyframes coupon {
    0% {
        opacity: 0;
        top: -150px
    }
    90% {
        opacity: 0;
        top: -230px
    }
    100% {
        opacity: 1;
        top: -310px
    }
}

@keyframes flower {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.couponexpand {
    transition: 0.5s ease;
    position: relative;
    top: -570px;
    left: 100px;
    right: -20px;
    bottom: 0px;
    z-index: 300;
    height: 130%;
    margin: 30px 30px;
    background-color: white;
    padding: 10px;

    .moretext {
        display: block;
        font-family: sans-serif;
    }
}